<div class="button-with-icon-container">
    <button class="button-with-icon" type="submit" id={{buttonId}}>
        <img alt="icon" width="27" class="button-icon" src={{iconSrc}}>
        {{buttonText}}
    </button>
</div>