/*
    Активные сообщения : './static/images/MsgLight.png'
    Неактивные сообщения : './static/images/MsgDark.png'
    Активные совпадения: './static/images/cards.png'
    Неактивные совпадения: './static/images/cardsDisable.png'
    Активный подбор пары: './static/images/RefreshActive.png'
    Неактивный подбор пары: './static/images/RefreshDisable.png'
    Активный профиль: './static/images/profileActive.png'
    Неактивный профиль: './static/images/profileDisable.png'
    Активные настройки: './static/images/settingsLight.png'
    Неактивные настройки: './static/images/settings.png'
    Выход: './static/images/logout.png'
*/

@mixin flex-container($flexDirectionProperty) {
    display: flex;
    flex-direction: $flexDirectionProperty;
    justify-content: center;
    align-items: center;
}

@mixin text-styles($fontSize, $marginBottom) {
    font-size: $fontSize;
    margin-bottom: $marginBottom;
}

@mixin size($width, $height) {
    width: $width;
    height: $height;
}

@mixin button-inputs-style() {
    border-radius: 16px;
    overflow: none;
    cursor: pointer;
    text-decoration: none;
}

.button-with-icon {
  @include size(390px, 42px);
  @include flex-container(row);
  @include button-inputs-style();
  font-weight: $font-weight-medium;
  font-size: 14px;
  border: none;
  border-radius: 12px;
}

.button-icon {
    @include size(27px, 27px);
    border-radius: 0;
    margin-right: 8px;
}

.active {
    color: white;
}

.message-active-button {
    background-color: #7F71AA;
}

.match-active-button {
    background-color: #7887DA;
}

.active-search-button {
    background-color: #DC5252;
}

.active-profile-button {
    background-color: #7893D4;
}

.active-settings-button {
    background-color: #757575;
}




