.auth{
  &-page {
    @include flex-container(row);
    align-items: center;
    @include size(auto, 100vh);
  }

  &-background{
    position: absolute;
    @include size(100vw, 100vh);
    background: radial-gradient(rgba(90, 71, 110, 0.65), rgba(0, 0, 0, 0.65)), url('static/images/background.png') fixed center;
  }
}
