@mixin text-styles($fontSize, $marginBottom) {
    font-size: $fontSize;
    margin-bottom: $marginBottom;
}

@mixin size($width, $height) {
    width: $width;
    height: $height;
}

@mixin button-inputs-style() {
    border-radius: $border-min;
    overflow: none;
    cursor: pointer;
    text-decoration: none;
}

.input-component {
  @include button-inputs-style();
  outline: none;
  border: $input-border;
  color: $color-dark;
}

.edit-profile-input {
  @include size(220px, 32px);
  border-radius: 8px;
  padding-left: 15px;
}

.message-input {
  @include size(470px, 60px);
  padding-left: 20px;
  font-size: 16px;
}

.login-register-input {
  @include size(516px, 52px);
  padding-left: 20px;
  font-size: 16px;
}

.input-error {
  border-color: $error-color;
}
