.changeForm {
    @include flex-container(column);
    @include size(470px, 400px);
    background-color: $bg-color-light;
    border-radius: 15px;
}

.changeForm__input-block {
    display: flex;
    flex-direction: column;
    margin-left: 74px;
    margin-bottom: 34px;
    margin-right: 74px;
}

.changeForm__input-block__input {
    @include flex-container(row);
    align-items: center;
    p {
        font-weight: $font-weight-semibold;
        @include text-styles(16px, 0px);
        @include size(140px, 20px);
        margin: 0px;
    }
    input {
        @include size(220px, 32px);
        border: $input-border;
        border-radius: 8px;
        opacity: 36%;
        transition: 0.3s linear;
    }
    input:hover {
        transition: 0.3s linear;
        opacity: 100%;
    }

    input:focus {
        transition: 0.2s linear;
        outline-width: 1px;
        outline-color: #8067ef;
    }
}

.changeForm__input-block__button {
    @include flex-container(row);
    align-items: center;
    position: relative;
    width: 324px;
    margin-top: 20px;
    p {
        position: absolute;
        left: 0;
        font-weight: $font-weight-semibold;
        @include text-styles(16px, 0px);
        @include size(140px, 20px);
        margin: 0px;
    }
    button {
        position: absolute;
        right: 0;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border: 0;
        background: $bg-color-light;
        @include button-inputs-style();
        background: $form-button-gradient;
        @include size(152px, 32px);
        @include text-styles(14px, 0px);
        color: #ffff;
        border-radius: 6px;
        transition: 0.1s linear;
    }

    button:hover {
        transition: 0.1s linear;
        transform: scale(0.98);
    }
}

.changeForm__bottom-button {
    @include flex-container(row);
    align-items: stretch;
    width: 324px;
    position: relative;
    margin-top: 20px;
    button {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border: 0;
        background: $bg-color-light;
        @include button-inputs-style();
        background: $form-button-gradient;
        @include size(152px, 32px);
        @include text-styles(14px, 0px);
        color: $bg-color-light;
        border-radius: 8px;
        margin-top: 5px;
        transition: 0.1s linear;
    }
    #changeForm__cancel-button {
        position: absolute;
        left: 0;
    }
    #changeForm__save-button {
        position: absolute;
        right: 0;
    }
    button:hover {
        transition: 0.1s linear;
        transform: scale(0.98);
    }
}

.error {
    width: 200px;
    text-align: center;
    color: $error-color;
    font-size: 12px;
    margin-left: 125px;
    visibility: visible;
    margin-top: 4px;
    margin-bottom: 4px;
}
