<form id= "changeForm" action="submit" class="changeForm">

    <div class="changeForm__input-block">
        <div class="changeForm__input-block__input">
            <p class="input-text">Имя:</p>
            <input id="name-input">
        </div>
        <div class="error name-error" id="name-error">Ошибка</div>
        <div class="changeForm__input-block__input">
            <p class="input-text">Фамилия:</p>
            <input id="surname-input">
        </div>
        <div class="error surname-error" id="surname-error">Ошибка</div>
        <div class="changeForm__input-block__input">
            <p class="input-text">Возраст:</p>
            <input id="age-input">
        </div>
        <div class="error age-error" id="age-error">Ошибка</div>
        <div class="changeForm__input-block__input">
            <p class="input-text">Город:</p>
            <input id="city-input">
        </div>
        <div class="error city-error" id="city-error">Ошибка</div>
        <div class="changeForm__input-block__button">
            <p class="changeForm__input-block__button-text">Выберите фото:</p>
            <button id="photo-button">Выбрать файл</button>
        </div>
        <div class="changeForm__bottom-button">
            <button id="changeForm__cancel-button" class="button">Отменить</button>
            <button id="changeForm__save-button" class="button">Сохранить</button>
        </div>
    </div>

</form>
