<div class="matchBlock">
    <div class="matchBlock__upper-buttons">
        <button id='message-button'>
            <img src="./static/images/MsgDark.png">
                <div class="matchBlock__upper-buttons_button-text">Message</div> 
        </button>
        <button id='match-button'>
            <img src="./static/images/cardsLight.png" class="userIcon__info-location-png" alt="location">
                <div class="matchBlock__upper-buttons_button-text">Match</div>
        </button>
    </div>
    <div class="wrapper">
        {{#each matches}}
            <button class="match__item"><img src="{{this}}" alt="match user" class="item__img"></button>
        {{/each}}
    </div>
</div>
