.button {
  @include size(100%, 52px);
  @include flex-container(row);
  align-items: center;

  border: none;
  border-radius: 15px;
  font-size: 20px;
  font-weight: var(--font-weight-medium);
  cursor: pointer;
  color: #fff;
  padding: 10px 20px;
  background: var(--button-bg-gradient);

  &:hover {
    background: var(--button-bg-gradient-hover);
  }

  &__icon {
    @include size(27px, 27px);
    border-radius: 0;
    margin-right: 8px;
  }
}
