.text {
    color: var(--text-color);
    font-style: normal;
}

//.link {
//    color: var(--link-color);
//    text-decoration: none;
//
//    &:hover {
//        color: var(--link-color-hover);
//        text-decoration: underline;
//    }
//}
.text_primary {
    font-weight: 600;
}

.text_secondary {
    font-weight: 400;
}

.text_error {
    color: #CF5151;
    font-weight: 500;
}
