.text{
    font-family: 'Montserrat';
    font-style: normal;
}

.text_primary {
    font-weight: 600;
}

.text_secondary {
    font-weight: 400;
}

.text_error {
    color: #CF5151;
    font-weight: 500;
}
