<div class="feed-photo-container {{{styles}}}">
    <img src="{{{src}}}" class="feed-photo" id="{{{id}}}">
    <div class="feed-photo-actions-container">
        {{{renderedComponents}}}
    </div>
</div>
