<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TEST move</title>
    <style>
        .image-container {
            display: flex;
            border: 5px solid;
            justify-content: flex-start;
            align-items: center;
            width: fit-content;
            height: fit-content;
            max-width: 80vw;
            max-height: 80vh;

        }

        .image-selector-moving {
            cursor: grab;
            width: 100%;
            height: 100%;
            fill: transparent;
        }

        .image {
            object-fit: cover;
            max-width: inherit;
            max-height: inherit
        }

        .image-selector {
            margin: 4px;
            position: absolute;
            left: 0px;
            top: 0px;
        }

        .image-selector-zooming {
            box-sizing: border-box;
            cursor: n-resize;
            padding: 4px;
            border: 4px solid black;
            width: 100%;
            height: 100%;
        }
    </style>

</head>
<body>
<div class="image-container" id="4">
    <img src="6.jpg" id="5" class="image">
    <div class="image-selector" id="1">
        <div class="image-selector-zooming" id="3">
            <div class="image-selector-moving" id="2">
            </div>
        </div>
    </div>
</div>
<button id="6">SAVE</button>
<div id="7"></div>
<script>
    let movingFlag = false;
    let zoomingFlag = false;
    let imageLoadedFlag = false;
    const selector = document.getElementById('1');
    const movingElement = document.getElementById('2');
    const zoomingElement = document.getElementById('3');
    let savedX = 0;
    let savedY = 0;
    let imageLeftX = 0;
    let imageLeftY = 0;
    let imageRightX = 0;
    let imageRightY = 0;
    selector.hidden = true;
    // const photo = document.getElementById('4');

    console.log(imageLeftX, imageLeftY);

    window.addEventListener('load', () => {
        console.log('iamge loaded');
        const image = document.getElementById('5');
        const imageAspectRatio = image.naturalHeight/image.naturalWidth;
        if (imageAspectRatio > 5 || imageAspectRatio < 1/5 ){
            alert('bad image');
            return;
        }
        imageLoadedFlag = true;
        const photo = document.getElementById('4')
        const photoRect = photo.getBoundingClientRect();
        imageLeftX = photo.offsetLeft;
        imageLeftY = photo.offsetTop;
        imageRightX = photo.offsetWidth;
        imageRightY = photo.offsetHeight;
        selector.style.left = imageLeftX + 'px';
        selector.style.top = imageLeftY + 'px';
        selector.style.width = '100px';
        selector.style.height = '180px';
        selector.hidden = false;
    });

    window.addEventListener('resize', () => {
        const photo = document.getElementById('4')
        const photoRect = photo.getBoundingClientRect();
        imageLeftX = photo.offsetLeft;
        imageLeftY = photo.offsetTop;
        imageRightX = photo.offsetWidth;
        imageRightY = photo.offsetHeight;
        selector.style.left = imageLeftX + 'px';
        selector.style.top = imageLeftY + 'px';
        selector.style.width = '100px';
        selector.style.height = '180px';
    });

    document.getElementById('4').addEventListener('pointermove', (ev) => {
        ev.stopPropagation();
        ev.preventDefault();
        if (selector.style.left === '') {
            selector.style.left = imageLeftX + 'px';
        }
        if (selector.style.top === '') {
            selector.style.top = imageLeftY + 'px';
        }
        if (selector.style.width === '') {
            selector.style.width = '100px';
        }
        if (selector.style.height === '') {
            selector.style.height = '180px';
        }

        if (movingFlag) {
            const currentWidth = parseInt(selector.style.width);
            const currentHeight = parseInt(selector.style.height);
            const currentLeft = parseInt(selector.style.left);
            const wantedLeft = currentLeft + (ev.x - savedX);
            const currentTop = parseInt(selector.style.top);
            const wantedTop = currentTop + (ev.y - savedY);
            if (wantedLeft + currentWidth < imageRightX && wantedLeft > imageLeftX) {
                selector.style.left = wantedLeft + 'px';
                savedX = ev.x;
            }
            if (wantedTop + currentHeight < imageRightY && wantedTop > imageLeftY) {
                selector.style.top = wantedTop + 'px';
                savedY = ev.y;
            }
            return;
        }
        if (zoomingFlag) {
            console.log('move', (ev.x - savedX), (ev.y - savedY));
            const diffXDerived = Math.floor((ev.x - savedX) / 5);
            const diffYDerived = Math.floor((ev.y - savedY) / 9);
            const currentLeft = parseInt(selector.style.left);
            const currentTop = parseInt(selector.style.top);
            const currentHeight = parseInt(selector.style.height);
            const currentWidth = parseInt(selector.style.width);

            if (diffYDerived !== 0 && currentLeft + currentWidth + diffYDerived * 5 < imageRightX && currentTop + currentHeight + diffYDerived * 9 < imageRightY) {
                savedY += diffYDerived * 9;
                // savedX += diffYDerived * 5;
                // if(selector)
                selector.style.height = currentHeight + diffYDerived * 9 + 'px';
                selector.style.width = currentWidth + diffYDerived * 5 + 'px';
                return
            }
            if (diffXDerived !== 0 && currentLeft + currentWidth + diffYDerived * 5 < imageRightX && currentTop + currentHeight + diffYDerived * 9 < imageRightY) {
                // savedY += diffXDerived * 9;
                savedX += diffXDerived * 5;
                selector.style.height = parseInt(selector.style.height) + diffXDerived * 9 + 'px';
                selector.style.width = parseInt(selector.style.width) + diffXDerived * 5 + 'px';
                return
            }
        }
    })

    movingElement.addEventListener('pointerdown', (ev) => {
        if(imageLoadedFlag){
            ev.preventDefault();
            ev.stopPropagation();
            movingFlag = true;
            savedX = ev.x;
            savedY = ev.y;
            console.log('press move');
        }
    })

    zoomingElement.addEventListener('pointerdown', (ev) => {
        if(imageLoadedFlag){
            ev.preventDefault();
            ev.stopPropagation();
            zoomingFlag = true;
            savedX = ev.x;
            savedY = ev.y;
            console.log('press zoom');
        }
    });
    document.addEventListener('pointerup', (ev) => {
        if (movingFlag === true) {
            ev.preventDefault();
            ev.stopPropagation();
            movingFlag = false;
            console.log('unpress move');
        }
        if (zoomingFlag === true) {
            ev.preventDefault();
            ev.stopPropagation();
            zoomingFlag = false;
            console.log('unpress zoom');
        }
    });

    document.getElementById('6').addEventListener('click', (ev) => {
        ev.preventDefault();
        let canvas = document.createElement('canvas');
        let photo = document.getElementById('5');
        const photoWidth = photo.naturalWidth;

        const koef = photoWidth / (imageRightX - imageLeftX);

        const selectLeftX = Math.floor(koef * (parseInt(selector.style.left) - imageLeftX));
        const selectLeftY = Math.floor(koef * (parseInt(selector.style.top) - imageLeftY));
        const selectWidth = Math.floor(koef * parseInt(selector.style.width));
        const selectHeight = Math.floor(koef * parseInt(selector.style.height));

        canvas.width = selectWidth;
        canvas.height = selectHeight;
        canvas.getContext('2d').drawImage(photo, selectLeftX, selectLeftY, selectWidth, selectHeight, 0, 0, selectWidth, selectHeight);
        document.getElementById('7').insertAdjacentElement('afterbegin', canvas);
    })
</script>
</body>
</html>

