<div class="input-container">
    <input class="input-with-icon" type={{inputType}} id={{inputId}}>
    <button class="input-icon-button" id={{buttonId}}><img src={{iconSrc}} alt="icon"></button>
</div>