/*
    Стрелка: './static/images/arrow.png'
    Календарь: './static/images/date.png'
*/

@mixin size($width, $height) {
    width: $width;
    height: $height;
}

@mixin button-inputs-style() {
    overflow: none;
    cursor: pointer;
    text-decoration: none;
}

@mixin flex-container($flexDirectionProperty) {
    display: flex;
    flex-direction: $flexDirectionProperty;
    justify-content: center;
    align-items: center;
}

.input-container {
    @include size(350px, 36px);
    @include flex-container(row);
    margin-top: 20px;
    margin-left: 20px;
}

.input-with-icon {
    @include button-inputs-style();
    @include size(320px, 36px);
    outline: none;
    border: $input-border;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    color: $color-dark;
    padding-left: 15px;
    padding-right: 15px;
}

.input-icon-button {
    @include size(35px, 34px);
    position: relative;
    left: -2px;
    background-color: #fff;
    cursor: pointer;
    outline: none;
    border: none;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    img {
        @include size(25px, 25px);
    }
}