@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

@mixin displayFlex() {
    display: flex;
    justify-content: center;
}

@mixin widthHeight($newWidth, $newHeight) {
    width: $newWidth;
    height: $newHeight;
}

@mixin marginBorder($marginTop, $borderRadius) {
    margin-top: $marginTop;
    border-radius: $borderRadius;
}

.content {
    @include displayFlex();
    @include widthHeight(100%, 100vh);
    flex-direction: row;
    background: radial-gradient(55.42% 55.42% at 50% 50%, #a488df 0%, #1c1738 95.11%);

    .content__profile {
        @include displayFlex();
        @include widthHeight(380px, 740px);
        @include marginBorder(-2px, 15px);
        flex-direction: column;
        align-items: center;
        margin-right: 90px;

        .profile__user {
            @include displayFlex();
            @include widthHeight(470px, 150px);
            @include marginBorder(0, 15px);
            margin-bottom: 10px;
            align-items: center;
            flex-direction: row;
            background-color: #fff;
            opacity: 100%;

            .user__info__block {
                display: flex;
                flex-direction: column;
                font-size: 14px;

                .user__info img {
                    @include widthHeight(25px, 25px);
                }

                .fullname {
                    margin-bottom: 4px;
                }

                .info__city {
                    display: flex;
                    align-items: center;
                    flex-direction: row;
                    margin-bottom: 8px;

                    img {
                        margin-left: -4px;
                        margin-right: 6px;
                    }
                }

                .user__settings {
                    @include widthHeight(50px, 50px);
                    margin-left: 24px;
    
                    .settings {
                        @include displayFlex();
                        align-items: center;
                        flex-direction: row;
                        white-space: nowrap;
    
                        img {
                            @include widthHeight(25px, 25px);
                            margin-right: 6px;
                        }

                        a {
                            text-decoration: none;
                            color: #797979;
                        }

                        a:hover {
                            color: rgb(71, 71, 71);
                        }
                    }
                } 
            }

            .avatar__img {
                @include widthHeight(100px, 100px);
                border-radius: 15px;
                margin-right: 35px;
            }
        }

        .profile__navigation {
            @include widthHeight(470px, 395px);
            @include marginBorder(15px, 15px);
            @include displayFlex();
            flex-direction: column;
            align-items: center;
            background-color: #fff;
            padding-top: 15px;

            .navigation__buttons {
                @include displayFlex();
                @include widthHeight(430px, 45px);
                flex-direction: row;
                align-items: center;
                background-color: #DADADA;
                border-radius: 10px;

                .buttons__message {
                    @include displayFlex();
                    @include widthHeight(180px, 32px);
                    align-items: center;
                    margin-right: 22px;
                    background-color: #9589B9;
                    border: none;
                    border-radius: 12px;

                    .message__link {
                        text-decoration: none;
                        color: #fff;
                        font-size: 14px;
                        font-weight: 500;
                        margin-left: 10px;
                    }
                }

                .buttons__matches {
                    @include displayFlex();
                    @include widthHeight(180px, 32px);
                    align-items: center;
                    background-color: #fff;
                    border: none;
                    border-radius: 12px;

                    .matches__link {
                        text-decoration: none;
                        color: #000;
                        font-size: 14px;
                        font-weight: 500;
                        margin-left: 10px;
                    }
                }
            }

            .navigation__field {
                @include widthHeight(430px, 340px);
                @include displayFlex();
                flex-direction: column;
                align-items: center;
                font-size: 14px;

                .message__block {
                    width: 410px;
                    display: flex;
                    flex-direction: row;
                    margin-bottom: 8px;
                    border-bottom: 1px solid #DADADA;
                    padding: 12px 10px;

                    .avatar {
                        @include widthHeight(70px, 70px);
                        border-radius: 50%;
                        background-color: #DADADA;
                        margin-right: 23px;
                    }

                    .info {
                        @include displayFlex();
                        flex-direction: column;

                        .username {
                            margin-bottom: 9px;
                            font-weight: 600;
                        }
                    }

                    .quantity__block {
                        @include widthHeight(24px, 24px);
                        @include displayFlex();
                        align-items: center;
                        background-color: #9589B9;
                        border-radius: 50%;
                        color: #fff;
                        position: relative;
                        left: 154px;
                        top: 20px;
                    }
                }

                .message__block:hover {
                    background-color: #ececec;
                    border-bottom: 1px solid #ececec;
                    border-radius: 10px;
                }
            }
        }
    }

    .content__feed {
        @include widthHeight(1000px, 870px);
        @include marginBorder(40px, 0px);
        @include displayFlex();
        flex-direction: row;
        align-items: center;

        .feed__people {
            @include displayFlex();
            flex-direction: column;
            align-items: center;
            margin-right: 40px;

            .people__photo {
                position: relative;

                img {
                    @include widthHeight(510px, 800px);
                    border-radius: 4px;
                }

                .navigation__icons {
                    @include displayFlex();
                    @include widthHeight(510px, 800px);
                    flex-direction: row;
                    align-items: flex-end;
                    position: absolute;
                    top: 0;
                    left: 14px;

                    .navIcons {
                        @include widthHeight(90px, 90px);
                        margin-right: 28px;
                        margin-bottom: 30px;
                    }
                }
            }
        }

        .feed__info {
            @include widthHeight(470px, 550px);
            display: flex;
            flex-direction: column;
            background-color: #fff;
            border-radius: 15px;
            padding: 30px;
            margin-top: -190px;

            .info__name {
                .fullname {
                    font-size: 28px;
                    font-weight: 600;
                    margin-bottom: 6px;
                }

                .info__city {
                    display: flex;
                    align-items: center;
                    flex-direction: row;
                    margin-bottom: 25px;
                    font-size: 18px;
                    color: #504A71;

                    img {
                        @include widthHeight(30px, 30px);
                        margin-left: -4px;
                        margin-right: 6px;
                    }
                }
            }

            .info__description {
                margin-bottom: 15px;

                .info__title {
                    font-size: 18px;
                    font-weight: 600;
                    margin-bottom: 8px;
                }

                .description {
                    font-size: 15px;
                    font-weight: 500;
                    margin-bottom: 6px;
                    width: 98%;
                    color: #504A71;
                }
            }

            .title {
                font-size: 18px;
                font-weight: 600;
                margin-bottom: 18px;
            }

            .horoscope__block {
                @include displayFlex();
                flex-direction: row;
                width: 98%;

                img {
                    width: 90px;
                    height: 90px;
                    border-radius: 50%;
                    margin-right: 20px;
                }
            }

            .horoscopeTitle {
                font-size: 18px;
                font-weight: 600;
                margin-bottom: 18px;
                margin-top: 15px;
            }

            .horoscope__description {
                font-size: 15px;
                font-weight: 500;
                color: #504A71;
            }

            .block {
                display: inline-block;
                vertical-align: top;
                border-radius: 12px;
                padding: 8px 16px;
                font-size: 14px;
                background-color: #DADADA;
                margin-bottom: 9px;
                margin-right: 9px;
            }
        }
    }
}

