@mixin displayFlex($flexDirectionProperty) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $flexDirectionProperty;
}

@mixin fontMargin($fontSize, $marginBottom) {
    font-size: $fontSize;
    margin-bottom: $marginBottom;
}

@mixin widthHeight($width, $height) {
    width: $width;
    height: $height;
}

.overlay {
    @include widthHeight(100%, 100vh);
    background: radial-gradient(#5a476e, #000000);
    opacity: 65%;
    position: absolute;
    z-index: 2;

    @media (max-width: 1600px) {
        background-repeat: repeat-x;
        opacity: 85%;
    }

    @media (max-width: 1150px) {
        opacity: 95%;
    }
}

.main__content {
    @include widthHeight(100%, 100vh);
    @include displayFlex(column);
    z-index: 1;
    background: {
        image: url('../../static/images/background.png');
        repeat: no-repeat;
        size: cover;
    }
    
    .content__authorize {
        @include widthHeight(700px, 640px);
        @include displayFlex(column);
        background-color: #fff;
        opacity: 100%;
        border-radius: 28px;
        z-index: 3;

        @media (max-width: 1400px) {
            @include widthHeight(650px, 620px);
        }

        @media (max-width: 1150px) {
            @include widthHeight(650px, 620px);
        }

        @media (max-width: 700px) {
            @include widthHeight(550px, 600px);
        }

        @media (max-width: 580px) {
            @include widthHeight(450px, 620px);
        }

        @media (max-width: 480px) {
            @include widthHeight(330px, 560px);
        }

        .authorize__logo {
            @include displayFlex(column);
            
            .logo__text {
                @include fontMargin(36px, 0px);
                margin-top: -12px;
                background: linear-gradient(#000 30%, #8955fa);
                -webkit-background-clip: text;
                background-clip: text;
                -webkit-text-fill-color: transparent;
                font-weight: 500;
                letter-spacing: 1%;

                @media (max-width: 480px) {
                    @include fontMargin(28px, 14px);
                }
            }
        }

        .form__create-new-account, .form__sign-in {
            @include displayFlex(row);
            @include fontMargin(18px, 25px);
            font-weight: 500;

            p {
                margin-right: 12px;
            }

            a {
                text-decoration: none;
                color: #3300FF;
                opacity: 75%;
            }

            a:hover {
                opacity: 90%;
            }

            @media (max-width: 480px) {
                font-size: 13px;
            }
        }

        .authorize__form {
            @include displayFlex(column);

            form {
                @include displayFlex(column);
                margin: 14px 0;
            }

            .form__text {
                @include fontMargin(32px, 20px);
                @media (max-width: 480px) {
                    @include fontMargin(26px, 18px);
                }
            }

            ._error {
                color: #CF5151;
                font-weight: 500;
                visibility: hidden;
            }

            .form__login, .form__password {
                @include widthHeight(515px, 52px);
                @include fontMargin(18px, 10px);
                border-radius: 15px;
                overflow: none;
                border: 1px solid #594c74;
                opacity: 50%;
                padding-left: 20px;
                color: rgb(0, 0, 0);

                @media (max-width: 1400px) {
                    @include widthHeight(500px, 52px);
                }
        
                @media (max-width: 700px) {
                    @include widthHeight(400px, 48px);
                }
        
                @media (max-width: 580px) {
                    @include widthHeight(340px, 44px);
                }
        
                @media (max-width: 480px) {
                    @include widthHeight(230px, 40px);
                    @include fontMargin(14px, 14px);
                }
            }

            .form__button {
                @include fontMargin(22px, 8px);
                @include widthHeight(535px, 52px);
                @include displayFlex(row);
                margin-top: 16px;
                font-weight: 500;
                overflow: none;
                border: none;
                border-radius: 15px;
                color: white;
                background: linear-gradient(45deg,#9F93E3, #8067EF, #6843FD);
                cursor: pointer;
                text-decoration: none;
        
                @media (max-width: 700px) {
                    @include widthHeight(360px, 48px);
                }
        
                @media (max-width: 580px) {
                    @include widthHeight(310px, 44px);
                }
        
                @media (max-width: 480px) {
                    @include widthHeight(210px, 40px);
                    font-size: 14px;
                    margin-top: 0;
                }
            }

            .form__button:hover {
                background: linear-gradient(45deg, #7e6fd6, #6548e9, #542afd);
            }

            .form__text__email, .form__text__password {
                @include fontMargin(18px, 10px);
                margin-top: 14px;
                font-weight: 500;
                color: #696969;

                @media (max-width: 580px) {
                    margin-left: 0;
                    text-align: center;
                }

                @media (max-width: 480px) {
                    @include fontMargin(14px, 8px);
                    margin-left: 0;
                    text-align: center;
                }
            }
        }
    }
}