<div id="{{{id}}}" class="active-user {{{styles}}}">
    {{#if ready}}
        {{{renderedComponents}}}
    {{else}}
        <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
    {{/if}}
</div>
