<form id= "form" action="submit" class="login">
    <div class="login__logo-container">
        <img src="./static/images/logo.png" class="login__logo" alt="logo">
        <p class="login__logo-text">OnlySocial</p>
    </div>
    <div class="login__login-container">
        <div class="login__login-form">
            <p class="login__login-text">Электронная почта</p>
            <input id="login" required class="input login__login_email" type="text">
            <div class="error-title email-error" id="email-error"></div>
            <p class="login__login-text">Пароль</p>
            <input id="password" type="password" required class="input login__login_password">
            <div class="error-title password-error" id="password-error"></div>
            <button id="form_submit" class="login__submit-button" type="submit">Войти</button>
        </div>
    </div>

    <div class="login__register-container">
        <span class="login__register-container_text">Еще нет аккаунта? <a href="/" class="login__register-container_register">Зарегистрироваться!</a></span>
    </div>
</form>
