<div class="logo-container" id="{{{id}}}">
    <img src="Static/Images/logo.png" class="logo-image">
    <p class="logo-title">OnlySocial</p>
</div>
<!--<div class="logo {{{styles}}}" id="{{{id}}}">-->
<!--    <img src="Static/Images/logo.png" class="logo__image">-->
<!--    <p class="logo__title">OnlySocial</p>-->
<!--</div>-->
