.logo {
  @include flex-container(column);
  align-items: center;

  &__image {
    padding-bottom: 20px;
  }

  &__title {
    font-style: normal;
    font-weight: var(--font-weight-medium);
    font-size: 36px;
    letter-spacing: 0.01em;
    margin-top: -12px;

    background: linear-gradient(180deg, #000000 0%, rgba(103, 31, 255, 0.87) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
