@mixin size($width, $height) {
    width: $width;
    height: $height;
}

@mixin flex-container($flex-direction) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: $flex-direction;
}

// Общий слой
.layout {
    background-color: $bg-color-light;
}

// Слой для авторизации
.login-layout {
    @include size(690px, 610px);
    @include flex-container(column);
    border-radius: $border-max;
}

// Слой для регистрации
.register-layout {
    @include size(700px, 780px);
    @include flex-container(column);
    border-radius: $border-max;
}

// Слой для профиля
.user-profile-layout {
    @include size(476px, 130px);
    @include flex-container(row);
    border-radius: $border-min;
}

// Слой для меню
.menu-layout {
    @include size(476px, 426px);
    @include flex-container(column);
    border-radius: $border-min;
}

// Слой для контейнера под меню
.menu-layout-container {
    @include size(436px, 376px);
    @include flex-container(column);
    background-color: $light-bg-color;
    border-radius: $border-min;
}

// Слой для информации о человеке
.user-info-layout {
    @include size(476px, 530px);
    @include flex-container(column);
    border-radius: $border-min;
}

// Слой для переписок и редактирования профиля
.message-layout, .edit-profile-layout {
    @include size(1000px, 800px);
    @include flex-container(row);
    border-radius: $border-min;
}

// Слой для открытой переписки
.messages-layout {
    @include size(500px, 700px);
    @include flex-container(column);
    //background-color: $messages;
    border-radius: $border-min;
}

// Слой для шапки в переписке и для формы сообщения
.messages-user-info-layout, .messages-input-layout {
    @include size(470px, 60px);
    @include flex-container(row);
    //background-color: $header;
    border-radius: $border-min;
}

