extends pageTemplate.pug 

block stylesheet 
    link(rel="stylesheet" href="./mainPage.css")
    link(rel="stylesheet" href="./signUpPage.css")

block title 
    title Sign up

block content 
    .authorize__form 
        +createP('Get started!', 'form__text') 
        form
            +createP('Email or username', 'form__text__email') 
            +createInput('text', 'form__login')  
            +createP('Password', 'form__text__password') 
            +createInput('password', 'form__password')
            +createP('Repeat password', 'form__text__password') 
            +createInput('password', 'form__password form__repeat__passwords')  
        button.form__button(type="submit") Sign up
        button(type="submit" class="form__button form__button_back") Back to main page