.content__authorize {
    height: 72% !important;

    .form__button {
        margin-bottom: 6px !important;
    }

    .form__login, .form__password {
        margin-bottom: 14px !important;
    }
}
