-  let source = '/static/images/';
-  let imgSrc = [source + 'vk.svg', source + 'google.svg', source + 'facebook.svg'];

mixin createSocialImages(imgSrc) 
    each iSrc in imgSrc
        a(href="#") 
            img(src= iSrc)

mixin createInput(iType, iClass)
    input(class= iClass, type= iType)

mixin createP(text, pClass)
    p(class= pClass)= text 

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="styles/dist/style.css")
        title Sign in
    body 
        .main__content
            .overlay
            .content__authorize 
                .authorize__logo
                    img.logo__img(src=`${source}logo.png`)
                    h1.logo__text OnlySocial
                .authorize__form 
                    form(id="form" action="#")
                        +createP('Email', 'form__text__email') 
                        +createInput('text', 'form__login _req')
                        +createP('Error: wrong email', 'form__login__error _error')  
                        +createP('Password', 'form__text__password') 
                        +createInput('password', 'form__password _req') 
                        +createP('Error: wrong password', 'form__password__error _error')
                        button.form__button(type="submit") Sign in
                .form__create-new-account
                    +createP('Don\'t have account?', '')
                    a(href="/signup") Create account
        script(src="../js/validate/validate.js" type="module")
