@mixin size($width, $height) {
  width: $width;
  height: $height;
}

.card__photo {
  @include size(480px, 800px);

  display: flex;
  align-items: flex-end;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 25px;
  object-fit: cover;
}

.card__navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 320px;
  padding-bottom: 35px;

  button {
    background-color: transparent;
    border-radius: 50%;
    cursor: pointer;
    border: none;
  }
}
