<div class="card__photo" style="background-image: url({{userPhoto}})">
    <div class="card__navigation">
        <a href="/"><img src="../static/images/favorite.png" alt="favorite" class="navigation-img"></a>
        <a href="/"><img src="../static/images/like.png" alt="like" class="navigation-img"></a>
        <a href="/"><img src="../static/images/dislike.png" alt="dislike" class="navigation-img"></a>
    </div>
</div>
