<div class="card__photo" style="background-image: url({{userPhoto}})">
    <div class="card__navigation">
        <button id="favorite-button"><img src="../Static/Images/favorite.png" alt="favorite" class="navigation-img"></button>
        <button id="like-button"><img src="../Static/Images/like.png" alt="like" class="navigation-img"></button>
        <button id="dislike-button"><img src="../Static/Images/dislike.png" alt="dislike" class="navigation-img"></button>
    </div>
</div>
