<div class="feedView">
    <div class="feedView__userIcon" id="feedView__userIcon">
        {{> '../../components/userIcon/userIcon.hbs'}}
    </div>
    <div class="feedView__matchBlock" id="feedView__matchBlock">
        {{> '../../components/matchBlock/matchBlock.hbs'}}
    </div>
    <div class="feedView__messageBlock" id="feedView__messageBlock">
        {{> '../../components/messageBlock/messageBlock.hbs'}}
    </div>
    <div class="feedView__changeForm" id="feedView__changeForm">
        {{> '../../components/changeForm/changeForm.hbs'}}
    </div>
    <div class="feedView__userMessageBlock" id="feedView__userMessageBlock">
        {{> '../../components/userMessageBlock/userMessageBlock.hbs'}}
    </div>
    <div class="feedView__feedInfoCard" id="feedView__feedInfoCard">
        {{> '../../components/feedInfoCard/feedInfoCard.hbs'}}
    </div>
    <div class="feedView__feedPhotoCard" id="feedView__feedPhotoCard">
        {{> '../../components/feedPhotoCard/feedPhotoCard.hbs'}}
    </div>
</div>
