<div class="feed-view">
    <div class="feed-view_left-column">
        {{{renderedLeftColumn}}}
    </div>
    <div class="feed-view_right-column">
        {{{renderedRightColumn}}}
    </div>
</div>
