.layout {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: $main-layout;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: $hidden-layout;

    background-image: url('./static/images/background.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.overlay {
    @include size(100%, 100vh);
    background: $overlay-gradient;
    opacity: 65%;
    position: absolute;
    z-index: $middle-layout;

    @media (max-width: 1600px) {
        background-repeat: repeat-x;
        opacity: 85%;
    }

    @media (max-width: 1150px) {
        opacity: 95%;
    }
}

