<div class="layout" style="background-image: url('./static/images/background.png')">
    <div class="overlay"></div>
    <div class="content">
        {{> '../../components/loginForm/loginForm.hbs'}}
    </div>
</div>
