:root {
  //--settings-link-color: #797979;
  --bg-color-semilight: #DADADA;
  --bg-color-light: #fff;

  --button-dark-color: #9589B9;
  //--message-bg-color: #ececec;
  --error-color: #CF5151;

  //--text-dark-color: #504A71;
  //--color-dark: #000;

  //--form-text-color: #696969;
  //--link-register-color: #30f;
  --input-border: 1px solid #594c74;
  //--input-hover-border: 1px solid #32254d;
  //--input-focus-border: px solid #281a44;
  //--box-shadow: 0px 0px 10px 0px rgba(139, 122, 228, 0.4);
  //--input-border-color-hover: rgba(139, 122, 228, 0.3);
  //--input-border-color: rgba(139, 122, 228, 0.5);
  //--focus-border-color: rgba(139, 122, 228, 0.65);
  //--content-bg-color: radial-gradient(55.42% 55.42% at 50% 50%, #a488df 0%, #1c1738 95.11%);
  //--overlay-gradient: radial-gradient(#5a476e, #000000);
  //--logo-text-gradient: linear-gradient(#000 30%, #8955fa);

  --button-bg-gradient: linear-gradient(45deg,#9F93E3, #8067EF, #6843FD);
  --button-bg-gradient-hover: linear-gradient(45deg, #7e6fd6, #6548e9, #542afd);
  //--form-button-gradient: linear-gradient(45deg,#9F93E3, #8067EF, #6843FD);
  //--form-button-gradient-hover: linear-gradient(45deg, #7e6fd6, #6548e9, #542afd);

  --font-weight-medium: 500;
  --font-weight-semibold: 600;

  //--main-layout: 1;
  //--hidden-layout: 3;
  //--middle-layout: 2;
  //--border-max : 6px;
  //--border-min : 6px
}

