:root {
  --bg-color-semilight: #DADADA;
  --bg-color-light: #fff;

  --button-dark-color: #9589B9;
  --error-color: #CF5151;
  --link-color: #664aa1;
  --link-color-hover: #4a3772;

  --input-border: 1px solid rgba(89, 76, 116, 0.5);
  --input-border-hover: 1px solid rgba(50,37,77, 0.5);

  --button-bg-gradient: linear-gradient(45deg, #9F93E3, #8067EF, #6843FD);
  --button-bg-gradient-hover: linear-gradient(45deg, #7e6fd6, #6548e9, #542afd);

  --font-weight-medium: 500;
  --font-weight-semibold: 600;
}

