.signup {
  @include flex-container(column);
  @include size(700px, 720px);

  background-color: $bg-color-light;
  border-radius: 28px;
}

@media screen and (max-width: 1150px) {
  .signup {
    @include size(620px, 690px);
  }
}

@media screen and (max-width: 850px) {
  .signup {
    @include size(520px, 660px);
  }
}

@media screen and (max-width: 650px) {
  .signup {
    @include size(420px, 640px);
  }
}

@media screen and (max-width: 500px) {
  .signup {
    @include size(360px, 650px);
  }
}

.error-hidden-style {
  border-color: #594c74;
  visibility: hidden;
}

.input-error-style {
  border-color: #CF5151;
}