<div class="messageBlock">
    <div class="messageBlock__upper-buttons">
        <button id="message-block__message-button" class="message-button">
            <img src="./static/images/MsgLight.png" class="messageBlock__MsgDark-png">
            <div class="messageBlock__upper-buttons_button-text">Сообщения</div> 
        </button>
        <button id="message-block__match-button" class="match-button">
            <img src="./static/images/CardsDark.png" class="messageBlock__cardsDark-png" alt="location">
            <div class="messageBlock__upper-buttons_button-text">Совпадения</div>
        </button>
    </div>
    <div class="messageBlock__messages">
        {{#each messages}}
            <button class="messageBlock__messages-message">
                <div class="messageBlock__container">
                    <img src="{{this.userMessageIcon}}" alt="" class="user-message__icon">
                    <div class="messageBlock__messages-message__text-block">
                        <p class="messageBlock__messages-message__username">{{this.userMessageName}}</p>
                        <p class="messageBlock__messages-message__text">{{this.userMessage}}</p>
                    </div>
                </div>
                <div class="messageBlock__messages-message__counter">
                    {{this.messageCount}}
                </div>
            </button>
        {{/each}}
    </div>
</div>
