@mixin flex-container($flexDirectionProperty) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $flexDirectionProperty;
}

@mixin text-styles($fontSize, $marginBottom) {
    font-size: $fontSize;
    margin-bottom: $marginBottom;
}

@mixin size($width, $height) {
    width: $width;
    height: $height;
}

@mixin button-inputs-style() {
    border-radius: 15px;
    overflow: none;
    cursor: pointer;
    text-decoration: none;
}

@mixin default-button() {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0;
    background: $bg-color-light;
}

.messageBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include size(475px, 385px);
    background-color: $bg-color-light;
    border-radius: 15px;
    position: relative;
    padding-top: 20px;
}

.messageBlock__upper-buttons {
    @include flex-container(row);
    @include size(431px, 44px);
    background-color: $light-bg-color;
    border-radius: 10px;
    margin-bottom: 20px;
    button {
        @include default-button();
        @include button-inputs-style();
        @include size(180px, 32px);
        @include flex-container(row);
        margin-inline: 14px;
        border-radius: 12px;
        font-weight: $font-weight-semibold;
        font-size: 14px;
    }

    .messageBlock__upper-buttons_button-text {
        margin-left: 8px;
    }

    #message-block__message-button {
        background-color: #9589B9;
        color: #fff;
    }
}

.messageBlock__messages {
    display: inline-block;
    justify-content: center;
    @include size(430px, 285px);
    overflow-y: auto;
    img {
        @include size(70px, 70px);
        border-radius: 50%;
    }
}

.messageBlock__messages-message {
    @include default-button();
    @include button-inputs-style();
    @include size(430px, 95px);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid $light-bg-color;
    padding-left: 20px;
    padding-right: 2px;
    .messageBlock__messages-message__text-block {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        font-weight: $font-weight-semibold;
        @include text-styles(14px, 0px);
        margin-left: 25px;
    }
    .messageBlock__messages-message__text {
        font-weight: 400;
        font-size: 13px;
        margin-top: 6px;
    }
    .messageBlock__messages-message__counter {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $button-dark-color;
        @include size(24px, 24px);
        border-radius: 50%;
        margin-left: 70px;
        margin-right: 20px;
    }

    .messageBlock__container {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}

.messageBlock__messages-message:hover {
    transition: 0.3s linear;
    background-color: $light-bg-color;
}

.messageBlock__messages::-webkit-scrollbar {
    width: 10px;
}

.messageBlock__messages::-webkit-scrollbar-track {
    background-color: #f9f9fd;
    border-radius: 10px;
}

.messageBlock__messages::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: $form-button-gradient;
}
