@import './variables.scss';

@mixin flex-container($flexDirectionProperty) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $flexDirectionProperty;
}

@mixin text-styles($fontSize, $marginBottom) {
    font-size: $fontSize;
    margin-bottom: $marginBottom;
}

@mixin size($width, $height) {
    width: $width;
    height: $height;
}

@mixin button-inputs-style() {
    border-radius: 15px;
    cursor: pointer;
    text-decoration: none;
}

.overlay {
    @include size(100%, 100vh);
    background: $overlay-gradient;
    opacity: 65%;
    position: absolute;
    z-index: 2;
}

.content__authorize {
    @include size(700px, 630px);
    @include flex-container(column);
    background-color: $bg-color-light;
    opacity: 100%;
    border-radius: 28px;
    z-index: 3;

    .authorize__logo {
        @include flex-container(column);

        .logo__text {
            @include text-styles(36px, 0px);
            margin-top: -12px;
            background: $logo-text-gradient;
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
            font-weight: $font-weight-medium;
            letter-spacing: 1%;
        }
    }

    .form__create-new-account, .form__sign-in {
        @include flex-container(row);
        @include text-styles(18px, 25px);
        font-weight: $font-weight-medium;

        p {
            margin-right: 12px;
        }

        a {
            text-decoration: none;
            color: #3300FF;
            opacity: 75%;
        }

        a:hover {
            opacity: 90%;
        }
    }

    .authorize__form {
        @include flex-container(column);

        form {
            @include flex-container(column);
            margin: 14px 0;
        }

        .form__text {
            @include text-styles(32px, 20px);
        }

        .form__error {
            width: 515px;
            text-align: center;
            color: $error-color;
            font-weight: $font-weight-medium;
            visibility: hidden;
        }

        .form__login, .form__password {
            @include size(515px, 52px);
            @include text-styles(18px, 10px);
            @include button-inputs-style();
            border: 1px solid #594c74;
            opacity: 50%;
            padding-left: 20px;
            color: rgb(0, 0, 0);
        }

        .form__button {
            @include text-styles(22px, 8px);
            @include size(535px, 52px);
            @include flex-container(row);
            @include button-inputs-style();
            margin-top: 16px;
            font-weight: $font-weight-medium;
            border: none;
            color: $bg-color-light;
            background: $form-button-gradient;
        }

        .form__button:hover {
            background: $form-button-gradient-hover;
        }

        .form__text__email, .form__text__password {
            @include text-styles(18px, 10px);
            margin-top: 14px;
            font-weight: $font-weight-medium;
            color: $form-text-color;
        }
    }
}

@media screen and (max-width: 1600px) {
    .overlay {
        background-repeat: repeat-x;
        opacity: 85%;
    }
}

@media screen and (max-width: 1150px) {
    .content__authorize {
        @include size(650px, 620px);
    }

    .overlay {
        opacity: 95%;
    }
}

@media screen and (max-width: 700px) {
    .content__authorize {
        @include size(520px, 600px);

        .authorize__form {
            .form__input__require {
                @include size(400px, 48px);
            }

            .form__button {
                @include size(422px, 48px);
            }

            .form__error {
                width: 422px;
                font-size: 16px;
            }
        }
    }
}

@media screen and (max-width: 580px) {
    .content__authorize {
        @include size(450px, 570px);

        .authorize__form {
            .form__input__require {
                @include size(340px, 44px);
                @include text-styles(14px, 10px);
            }

            .form__button {
                @include size(362px, 44px);
                font-size: 14px;
                margin-top: 8px;
            }

            .form__text__email, .form__text__password {
                @include text-styles(16px, 8px);
                margin-top: 8px;
                margin-left: 0;
                text-align: center;
            }

            .form__error {
                width: 362px;
                font-size: 14px;
            }
        }

        .form__create-new-account {
            font-size: 16px;
        }
    }
}

@media screen and (max-width: 480px) {
    .content__authorize {
        @include size(330px, 520px);

        .authorize__logo {
            .logo__img {
                width: 85px;
                margin-bottom: 4px;
            }

            .logo__text {
                @include text-styles(28px, 0px);
            }
        }

        .form__create-new-account, .form__sign-in {
            font-size: 13px;
        }

        .authorize__form {
            .form__input__require {
                @include size(230px, 40px);
                @include text-styles(14px, 10px);
            }

            .form__button {
                @include size(252px, 40px);
                font-size: 14px;
                margin-top: 8px;
            }

            .form__text__email, .form__text__password {
                @include text-styles(14px, 8px);
                margin-top: 8px;
                margin-left: 0;
                text-align: center;
            }

            .form__error {
                width: 250px;
                font-size: 13px;
            }
        }
    }
}

@media screen and (max-height: 850px) {
    @media screen and (min-width: 700px) {
        .content__authorize {
            @include size(630px, 560px);

            .authorize__form {
                .form__input__require {
                    @include size(480px, 44px);
                    @include text-styles(14px, 10px);
                }

                .form__button {
                    @include size(502px, 44px);
                    font-size: 18px;
                    margin-top: 8px;
                }

                .form__text__email, .form__text__password {
                    @include text-styles(18px, 8px);
                    margin-top: 8px;
                    margin-left: 0;
                    text-align: center;
                }

                .form__error {
                    width: 502px;
                    font-size: 14px;
                }
            }
        }
    }

    @media screen and (max-width: 1600px) {
        .overlay {
            background-repeat: repeat-x;
            opacity: 85%;
        }
    }

    @media screen and (max-width: 1150px) {
        .overlay {
            opacity: 95%;
        }
    }

    @media screen and (max-width: 700px) {
        .content__authorize {
            @include size(450px, 560px);

            .authorize__form {
                .form__input__require {
                    @include size(340px, 44px);
                    @include text-styles(14px, 10px);
                }

                .form__button {
                    @include size(362px, 44px);
                    font-size: 14px;
                    margin-top: 8px;
                }

                .form__text__email, .form__text__password {
                    @include text-styles(16px, 8px);
                    margin-top: 8px;
                    margin-left: 0;
                    text-align: center;
                }

                .form__error {
                    width: 362px;
                    font-size: 14px;
                }
            }

            .form__create-new-account {
                font-size: 16px;
            }
        }
    }

    @media screen and (max-width: 480px) {
        .content__authorize {
            @include size(330px, 510px);

            .authorize__logo {
                .logo__img {
                    width: 85px;
                    margin-bottom: 4px;
                }

                .logo__text {
                    @include text-styles(28px, 0px);
                }
            }

            .form__create-new-account, .form__sign-in {
                font-size: 13px;
            }

            .authorize__form {
                .form__input__require {
                    @include size(230px, 40px);
                    @include text-styles(14px, 10px);
                }

                .form__button {
                    @include size(252px, 40px);
                    font-size: 14px;
                    margin-top: 8px;
                }

                .form__text__email, .form__text__password {
                    @include text-styles(14px, 8px);
                    margin-top: 8px;
                    margin-left: 0;
                    text-align: center;
                }

                .form__error {
                    width: 250px;
                    font-size: 13px;
                }
            }
        }
    }
}
