@import './variables.scss';

.signup {
    width: 700px;
    height: 670px;
    background-color: $bg-color-light;
    padding: 30px 0;
    border-radius: 28px;

    .form__login, .form__password {
        margin-bottom: 10px;
    }
}
