.auth-form {
  @include flex-container(column);

  width: 550px;
  padding: 30px 50px 50px;
  margin: 35px;
  box-sizing: border-box;
  align-items: center;
  background: var(--bg-color-light);
  border-radius: 50px;
  row-gap: 20px;
  z-index: 2;

  &__alt-variant {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  &__button {
    height: 68px;
    margin-top: 10px;
  }
}
