.auth-form {
  @include flex-container(column);
  align-items: center;
  row-gap: 20px;

  width: 550px;
  padding: 30px 50px 50px;
  margin: 35px;
  box-sizing: border-box;
  border-radius: 50px;
  background: var(--bg-color-light);
  z-index: 2;

  &__alt-variant {
    gap: 30px;
  }

  &__button {
    height: 68px;
    margin-top: 10px;
    font-size: 22px;
  }
  &__main-error {
    color: var(--error-color);
    font-weight: var(--font-weight-medium);
  }
}

.alt-variant {
  @include flex-container(row);
  align-items: center;
}
