@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
@import "./Consts/Consts.scss";
@import "./Consts/Mixins.scss";
@import "./Components/Input/Input.scss";
@import "./Components/Button/Button.scss";
@import "./Components/Logo/Logo.scss";
@import "./Components/Text/Text.scss";
@import "./Components/LoginForm/LoginForm.scss";
@import "./Components/RegisterForm/RegisterForm.scss";
@import "./Views/LoginView/LoginView.scss";
@import "./Views/RegisterView/RegisterView.scss";
@import "./Components/RegisterForm/RegisterForm";
@import "./Components/ActiveUser/ActiveUser";
@import "./Components/FeedPhoto/FeedPhoto";
@import "./Components/FeedAction/FeedAction";
@import "./Components/Menu/Menu";
@import "./Components/Photo/Photo";
@import "./Components/FeedInfo/FeedInfo";
@import "./Components/Container/Container";
@import "./Views/LoginView/LoginView";
@import "./Views/RegisterView/RegisterView";
@import "./Views/FeedView/FeedView";  ;

* {
  font-family: Montserrat, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background: var(--bg-gradient);
}
