@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
@import "./static/style/_mixins.scss";
@import "./static/style/_variables.scss";
@import "./components/loginForm/_loginForm.scss";
@import "./components/signupForm/_signupForm.scss";
@import "./components/feedPhotoCard/_feedPhotoCard.scss";
@import "./components/feedInfoCard/_feedInfoCard.scss";
@import "./components/userIcon/_userIcon.scss";
@import "./views/loginView/_loginView.scss";
@import "./components/changeForm/_changeForm.scss";
@import "./components/changeForm/_changeForm.scss";
@import "./components/matchBlock/_matchBlock.scss";
@import "./components/messageBlock/_messageBlock.scss";
@import "./components/userMessageBlock/_userMessageBlock.scss";
@import "./views/feedView/_feedView.scss";

* {
  font-family: Montserrat, sans-serif;
  margin: 0;
  padding: 0;
}



